
.panel-heading {
background-color: royalblue;
font-size: 18px;
}

body{
background-color: royalblue;
}

.panel-default>.panel-heading{
background-image: -webkit-linear-gradient(top,royalblue 0,royalblue 100%); 
background-image: -o-linear-gradient(top,royalblue 0,royalblue 100%);
background-image: -webkit-gradient(linear,left top,left bottom,from(royalblue),to(#e8e8e8));
background-image: linear-gradient(to bottom,royalblue 0,royalblue 100%); 
}


#back{
background: url("../img/eighth.png")
no-repeat fixed center;
background-size: 77%;
padding: 0;
height: 970px;
}
